<%= form_for [wiki] do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title , class: 'form-control', placeholder: "Wiki Title ", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :body  %>
    <%= f.text_area :body ,rows: 15, class: 'form-control', placeholder: "What is this Wiki About? " %>
  </div>
  <% if current_user.admin? || current_user.premium? %>
  <div class="form-group">
    <%= f.label :private %>
    <%= f.check_box  :private%>
  </div>
  <% end %>
  <%= f.submit "Submit Item", class: 'btn btn-primary pull-right' %>
<% end %>
